*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html, body {
    height: 100%;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    width: 100%;
   
   
}


/* .grid > div{

    min-height: 160px;
    color: #fff;
    display: flex;
    
    
} */
.text{
    display: flex;
    flex-direction: column;
     margin: auto;

}


.card-1{ 
    background-color: rgb(83, 197, 83);
    display: flex;
    position: relative;
 
    
 }
.card-2{ 
    background-color: rgb(219, 158, 51); 
    display: flex;
        position: relative;
   
}
.card-3{ 
    background-color: rgb(88, 110, 220); 
     display: flex;
      position: relative;
}
.card-4{ background-color: rgb(220, 120, 80);
     display: flex; 
         position: relative;
}
.card-5{ 
    background-color: rgb(225, 73, 88);
    display: flex; 
     position: relative;
}
.card-6{ 
    background-color: rgb(28, 174, 194); 
     display: flex;
      position: relative;
     
    
}
.logo1{
    left: 10%;
    top: 20%;
    position: absolute;
}
.logo2{
    left: 10%;
    top: 20%;
    position: absolute;
}
.logo3{
    left: 10%;
    top: 20%;
    position: absolute;
}
.logo4{
    left: 10%;
    top: 20%;
    position: absolute;
}
.logo5{
    left: 10%;
    top: 20%;
    position: absolute;
}
.logo6{
    left: 10%;
    top: 20%;
    position: absolute;
}
h2{
    font-size: 1.1rem;
    margin-bottom: 5px;
    text-align: center;
    color: rgb(220, 220, 220);
    
     
}
p{
    font-size: 0.95rem;
    text-align: center;
     color: rgb(220, 220, 220);
     margin-top: 5px;
}
.image{
    display: flex;
  
    margin-top: 30px ;
    margin-right: auto;
}


@media (max-width: 800px){
    .grid{ grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 480px){
    .grid{ grid-template-columns: 1fr};

}
    